
header {   
    background-color: #ac899e;
    color: cornsilk;
    text-align: center;
    font-family: sans-serif;
    height: 400px;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    border-bottom-right-radius: 600px;
    border-bottom-left-radius:600px;
    
}
body {
   font-family: sans-serif;
   background-image: url("bg.png");
   margin-top: 0;
   
}

.inputbackground {
    background-color: #ac899e;
}

img {
    margin-left: auto;
    margin-right: auto;
    

}

.navigation {
    font-family: sans-serif;
    color: cornsilk;
    background-color:#ac899e;
    position: fixed;
    text-align: right;
    margin-left: 500px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
    }

.icon {
    opacity: 70%;

}
.icon:hover{
    opacity: 100%;
}

.current {
    color: black;
    background-color: #644b5a;
}
    


h1 {
   color: cornsilk;
   font-family: sans-serif;
   margin: 0;
   padding-top: 200px;
   
   }

h2 , h3 {
    font-family: sans-serif;
}

li {
    display: inline;
    
}


.inputbackground {
    background-color: #ac899e;
}


.active:hover{
   color: black
   
}

.link {
    color: black;
}
.link:hover{
    font-size: 150%;
}

a {
    color: cornsilk;
    margin: auto;
    text-decoration: none;

    
}

.inputbackground {
    background-color: #ac899e;
    font-family: sans-serif;
}



main {
    font-family: sans-serif;
    margin: auto;
    width: 800px;
    }
    
div {
    font-family: sans-serif;
}


