body {
    background-color: cornsilk;
    display: block;
    margin: 10px;
}

.button {
    box-sizing: content-box;
    

}

a {
    display: block;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 20px;
    
}

a:hover {
    color: cornflowerblue
}