body {
    background-image: url(bg.png);
    
}

.wrapper {
    position: absolute;
    height: 400px;
    width: 600px;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background-image: url(wrapperbg.png);
}
 iframe {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     z-index: 1;
 }

.band {
    position: absolute;
    top: 452px;
    left: 651px;
    z-index: 2;
}