body {
    background-image: url(bg.png);
    
}

.wrapper {
    position: relative;
    top: 200px;
    left: 400px;
 }

 iframe {
     position: absolute;
     top: 260px;
     left: 475px;
     z-index: 1;
 }

.band {
    position: relative;
    top: 190px;
    left: 150px;
    z-index: 2;
}