body {
    font-family: 'Arial Narrow Bold', sans-serif;
    text-align: center;
    background-image: linear-gradient(100deg, #f5e1a0, #f2cdf7);
    color: #474747b0;
    
}

#textInput {
    
    height: 20px;
    width: 300px;
    
}
li {
    list-style: none;
}
.toDo {
    position: absolute;
    height: 20px;
    width: 300px;
    margin-top: 15px;
    background-color: white;
    display: flex;
    align-items: center ;
    justify-content: space-between;

}

.toDoList {
    position: absolute;
    height: 20px;
    width: 300px;
    margin-top: 15px;
    
    align-items: center ;
    justify-content: space-between;

}



.checkbox {
    height: 50px;
}

