body {
    font-family: 'Arial Narrow Bold', sans-serif;
    text-align: center;
    background-image: linear-gradient(100deg, #f5e1a0, #f2cdf7);
    color: #474747b0;
    
}

#textInput {
    
    height: 20px;
    width: 300px;
    
}

.toDoContainer {
    height: 20px;
    width: 300px;
    margin-top: 25px;
    background-color: white;
    align-items: center;
    display: flex;
    
}

.checkbox {
    height: 50px;
}

