body {
    font-family: 'Arial Narrow Bold', sans-serif;
    text-align: center;
    background-image: linear-gradient(100deg, #f5e1a0, #f2cdf7);
    color: #474747b0;
    
}
.wrapper {
    text-align: center;

}

#textInput {
    
    height: 20px;
    width: 300px;
    box-shadow: 3px 3px 3px rgba(165, 163, 163, 0.739);
    

    
}


li {
    position: absolute;
    left: 50%;
    margin-top: 25px;
    border: 1px, black;
    box-shadow: 3px 3px 3px rgba(165, 163, 163, 0.739);
    height: 20px;
    width: 300px;
    display: inline-block;
    

}

.toDoList {
    position: absolute;
    display: inline-block;
    
   
    
  

}


.toDo {
    position: absolute;
    height: 20px;
    width: 300px;
    margin-top: 50px;
    background-color: white;
    
    display: inline-flex;
    

}

.far {
    position: relative;
    
}

.hidden {
    display: none !important;
}

.checkbox {
    height: 50px;
}

