body {
    font-family: 'Arial Narrow Bold', sans-serif;
    background-image: linear-gradient(100deg, #f5e1a0, #f2cdf7);
    color: #474747b0;
    
    
    
}


#textInput {
    
    height: 20px;
    width: 300px;
    box-shadow: 3px 3px 3px rgba(165, 163, 163, 0.739);
    margin-left: 37px;
    
    

    
}

h1, h3 {
    margin-left: 37px;
}


li {
    

    box-shadow: 3px 3px 3px rgba(165, 163, 163, 0.739);
    height: 20px;
    width: 300px;
    list-style: none;
    
    

}




.toDo {
    
    height: 20px;
    width: 300px;
    margin-top: 25px;
    background-color: white;
   
    
    
    

}

.fa-circle {
    
    left: 100%
    
    
}
.fa-check-circle {
    left: 100%
    
    
    
}


.hidden {
    display: none !important;
}