body {
    background-color: #e6e6fa;
    display: block;
    

    
    
    
}
#allButtons{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50% , -50%);
    
}

.button1 {
    background-color: #b6b976;
    height: 150px;
    width: 150px;
    border-radius: 20px;
    cursor: pointer;
}
.button1:hover {
    transform: scale(1.03)
}

.button2 {
    background-color: #b6b976;
    height: 150px;
    width: 150px;
    border-radius: 20px;   
    cursor: pointer;
}
.button2:hover {
    transform: scale(1.03)
}

.button3 {
    
    background-color: #b6b976;
    height: 150px;
    width: 150px; 
    border-radius: 20px;
    cursor: pointer;
   
}
.button3:hover {
    transform: scale(1.03)
}
.button4 {
    
    background-color: #db9292;
    height: 150px;
    width: 150px;
    border-radius: 20px;
    cursor: pointer;
}  

.button4:hover {
    transform: scale(1.03)
}
.button5 {
    
    background-color: #db9292;
    height: 150px;
    width: 150px;
    border-radius: 20px;
    cursor: pointer;
}  
.button5:hover {
    transform: scale(1.03)
} 
.button6 {
    
    background-color: #db9292;
    height: 150px;
    width: 150px;
    border-radius: 20px;
    cursor: pointer;
}
.button6:hover {
    transform: scale(1.03)
}

.button7 {
    
    background-color: #db9292;
    height: 150px;
    width: 150px;
    border-radius: 20px;
    cursor: pointer;
}
.button7:hover {
    transform: scale(1.03)
}

.button8 {
    
    background-color: #c68ec7;
    height: 150px;
    width: 150px;
    border-radius: 20px;
    cursor: pointer;
}
.button8:hover {
    transform: scale(1.03)
}

.button9 {
    
    background-color: #c68ec7;
    height: 150px;
    width: 150px;
    border-radius: 20px;
    cursor: pointer;
    
   
}
.button9:hover {
    transform: scale(1.03)
}




#buttonPlay {
    position: absolute;
    color: #f6fae6;
    font-size: 70px;
    transform: translate(-50%, -50%);
    right: 100px;
    top: 550px;
    cursor: pointer;
    opacity: 70%;
}

#buttonPlay:hover {
    opacity: 100%;
}

#buttonPause {
    position: absolute;
    color: #f6fae6;
    font-size: 70px;
    transform: translate(-50%, -50%);
    right: 100px;
    top: 550px;
    cursor: pointer;
    opacity: 70%;
}
#buttonPause:hover {
    opacity: 100%;
}

.hidden {
    display: none !important;

}
#buttonTrash {
    position: absolute;
    color: #f6fae6;
    font-size: 70px;
    transform: translate(-50%, -50%);
    right: 10px;
    top: 550px;
    cursor: pointer;
    opacity: 70%;
}

#buttonTrash:hover {
    opacity: 100%;
}

#buttonRandom {
    position: absolute;
    color: #f6fae6;
    font-size: 70px;
    transform: translate(-50%, -50%);
    right: 300px;
    top: 550px;
    cursor: pointer;
    opacity: 70%;

}

#buttonRandom:hover {
    opacity: 100%;
}

#buttonMicro {
    position: absolute;
    color: #f6fae6;
    font-size: 70px;
    transform: translate(-50%, -50%);
    right: 220px;
    top: 550px;
    cursor: pointer;
    opacity: 70%;
}
#buttonMicro:hover {
    opacity: 100%;
}

#buttonPause2 {
    position: absolute;
    color: #f6fae6;
    font-size: 70px;
    transform: translate(-50%, -50%);
    right: 300px;
    top: 550px;
    cursor: pointer;
    opacity: 70%;
}
#buttonPause2:hover {
    opacity: 100%;
}