body {
    background-image: url(bg.png);
}

.wrapper {
    position: absolute;
    height: 400px;
    width: 600px;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
    background-image: url(wrapperbg.png);
}

 .schrift {
    color: ivory;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    position: absolute;
    top: 20px;
    left: 50px;
    
    }
 
.muschel1 {
    position: absolute;
    top: 450px;
    left: 260px;
    
    
    
}
.muschel1:hover {
    content: url(muschel_perle.png);
    
}

.muschel2 {
    position: absolute;
    top: 320px;
    left: 400px;
    
}

.muschel2:hover {
    
    content: url(muschel_perle.png);
}


.muschel3 {
    position: absolute;
    top: 400px;
    left: 600px;
}
    

.muschel3:hover {
    content: url(muschel_perle.png);
    
}

