body {
    background-image: url(bg.png);
}

.wrapper {
    position: absolute;
    height: 400px;
    width: 600px;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background-image: url(wrapperbg.png);
}

 h1 {
     color: ivory;
     position: absolute;
     top: -150px;
     left: 500px;
 }

 label {
    color: ivory;
 }

 form {
     color: ivory;
     position: absolute;
     top: -150px;
     left: 500px;
 }

 p {
    color: ivory;
 }